@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

.hero_header {
  background: url("../assets/images/hero_header.jpg") no-repeat center center;
  height: 60vh;
  min-height: 800px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60vh;
  min-height: 800px;
  top: 0;
  left: 0;
  background: #0000004d;
}

.hero_header__logo img {
  position: absolute;
  color: white;
  width: 180px;
  top: 51px;
  left: 69px;
  z-index: 1;
}

.hero_header__title {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 44px;
  font-weight: 400;
  width: 80%;
  text-align: center;
  color: #ffd15b;
  z-index: 1;
}

.hero_header__searchbar {
  width: 80%;
  z-index: 1;
  position: relative;
}

.hero_header__searchbar input {
  width: calc(100% - 35px);
  height: 72px;
  border-radius: 11px;
  border: none;
  padding: 0 0 0 35px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

.hero_header__searchbar button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: calc(100% - 20px);
  width: 51px;
  border-radius: 11px;
  border: none;
  background: #1b1b1b;
  cursor: pointer;
}

.hero_header__searchbar button i {
  color: white;
  font-size: 24px;
}

.main {
  background-color: #e3e3e3;
  padding: 11px 104px 200px 104px;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
  margin-top: 10px;
}

.main__header__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__header__filters__select-box {
  width: 20%;
  min-width: 200px;
  max-width: 250px;
  position: relative;
}

.main__header__filters__select-box__title {
  background-color: white;
  border-radius: 11px;
  padding: 17px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1b1b1b;
  cursor: pointer;
}

.main__header__filters__select-box__title i {
  font-size: 13px;
}

.main__header__filters__select-box__search {
  background-color: white;
  position: relative;
  padding: 0px 16px 10px 16px;
  display: none;
}

.main__header__filters__select-box__search input {
  width: calc(100% - 10px);
  height: 36px;
  border-radius: 2px;
  border: solid 1px #c6c6c6;
  padding: 0 0 0 35px;
  padding-left: 10px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #7a7a7a;
}

.main__header__filters__select-box__search__clear {
  position: absolute;
  right: 50px;
  top: 13px;
  font-size: 10px;
  cursor: pointer;
  color: #7a7a7a;
}

.main__header__filters__select-box__search__clear.hidden {
  display: none !important;
}

.main__header__filters__select-box__search__search {
  position: absolute;
  right: 25px;
  top: 10px;
  cursor: pointer;
  color: #7a7a7a;
}

.main__header__filters__select-box__list {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 0 0 11px 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  height: 250px;
  overflow-y: auto;
  padding: 0px;
  width: 100%;
  z-index: 1;
}

.main__header__filters__select-box__list li {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 0px 9px 16px;
  color: #1b1b1b;
  cursor: pointer;
  list-style-type: none;
  margin: 1px 0px;
}

.main__header__filters__select-box__list li:hover {
  background-color: #ffd15b;
}

.main__header__filters__select-box__list li.selected {
  background-color: #ffd15b;
  font-weight: 700;
  position: relative;
}

.main__header__filters__select-box__list li.selected i {
  display: inline-block;
}

.main__header__filters__select-box__list li i {
  position: absolute;
  right: 16px;
  top: 10px;
  display: none;
  width: 17px;
  height: 17px;
  background-color: #000000;
  border-radius: 50%;
  font-size: 10px;
  color: #ffd15b;
  text-align: center;
  line-height: 17px;
}

.main__header__n_recipes {
  font-family: "Anton", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #1b1b1b;
}

.main__recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px;
}

.main__recipes__recipe-card {
  position: relative;
  width: calc((100% - 96px) / 3);
  min-width: 300px;
  background-color: white;
  border-radius: 21px;
  -webkit-box-shadow: 0px 4px 34px 30px #0000000a;
          box-shadow: 0px 4px 34px 30px #0000000a;
}

.main__recipes__recipe-card__image img {
  width: 100%;
  height: 253px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 21px 21px 0 0;
}

.main__recipes__recipe-card__time {
  position: absolute;
  top: 21px;
  right: 21px;
  background-color: #ffd15b;
  color: black;
  padding: 5px 15px;
  border-radius: 14px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.main__recipes__recipe-card__title h3 {
  margin: 32px 0px 0px 25px;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.main__recipes__recipe-card__description {
  margin: 31px 25px 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main__recipes__recipe-card__description h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 9%;
  color: #7a7a7a;
  text-transform: uppercase;
}

.main__recipes__recipe-card__description p {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
}

.main__recipes__recipe-card__ingredients {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main__recipes__recipe-card__ingredients h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 9%;
  color: #7a7a7a;
  text-transform: uppercase;
}

.main__recipes__recipe-card__ingredients__list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.main__recipes__recipe-card__ingredients__list__item {
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__recipes__recipe-card__ingredients__list__item__ingredient {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1b1b1b;
}

.main__recipes__recipe-card__ingredients__list__item__quantity {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #7a7a7a;
}
